In [2]:
import pandas as pd
data = pd.read_csv('data/2023 QS World University Rankings.csv')

first_two_columns = data.iloc[:240,:2]
other_we_want = data.iloc[:240,4:15:2]
last_column = data.iloc[:240,-1]
data_used = pd.concat([last_column, first_two_columns,other_we_want],axis=1)

data_used.head()

,score scaled,Rank,institution,ar score,er score,fsr score,cpf score,ifr score,isr score
0,100,1,Massachusetts Institute of Technology (MIT),100.0,100.0,100.0,100.0,100.0,90.0
1,98.8,2,University of Cambridge,100.0,100.0,100.0,92.3,100.0,96.3
2,98.5,3,Stanford University,100.0,100.0,100.0,99.9,99.8,60.3
3,98.4,4,University of Oxford,100.0,100.0,100.0,90.0,98.8,98.4
4,97.6,5,Harvard University,100.0,100.0,99.4,100.0,76.9,66.9

In [3]:
first_two_columns = data.iloc[:240,:2]
other_we_want = data.iloc[:240,4:20:2]
last_column = data.iloc[:240,-1]
data_used = pd.concat([last_column, first_two_columns,other_we_want],axis=1)

data_used.head()

,score scaled,Rank,institution,ar score,er score,fsr score,cpf score,ifr score,isr score,irn score,ger score
0,100,1,Massachusetts Institute of Technology (MIT),100.0,100.0,100.0,100.0,100.0,90.0,96.1,100.0
1,98.8,2,University of Cambridge,100.0,100.0,100.0,92.3,100.0,96.3,99.5,100.0
2,98.5,3,Stanford University,100.0,100.0,100.0,99.9,99.8,60.3,96.3,100.0
3,98.4,4,University of Oxford,100.0,100.0,100.0,90.0,98.8,98.4,99.9,100.0
4,97.6,5,Harvard University,100.0,100.0,99.4,100.0,76.9,66.9,100.0,100.0

In [4]:
import numpy as np
from sklearn.preprocessing import StandardScaler
standardized = StandardScaler().fit_transform(data_used.iloc[:,3:])

standardized_df = pd.DataFrame(standardized,columns=data_used.columns[3:])
standardized_df.head()

,ar score,er score,fsr score,cpf score,ifr score,isr score,irn score,ger score
0,1.590269,1.477666,1.447563,1.415771,1.065306,1.083970,0.744583,1.613749
1,1.590269,1.477666,1.447563,1.138985,1.065306,1.277161,0.955497,1.613749
2,1.590269,1.477666,1.447563,1.412176,1.059243,0.173208,0.756990,1.613749
3,1.590269,1.477666,1.447563,1.056309,1.028931,1.341559,0.980311,1.613749
4,1.590269,1.477666,1.428576,1.415771,0.365096,0.375600,0.986514,1.613749

# PCA

In [64]:
from sklearn.decomposition import PCA
pca = PCA(n_components=4)
result_skPCA = pca.fit_transform(standardized_df)
result_skPCA.shape

(240, 4)

问题出在这里，第一主成分的值为负值了。第一主成分的计算公式为：
$$
f_1 = t_1^T  x
$$
如果$f_1$为负值的话，那么可能的原因是

In [65]:
result_skPCA[:5]

array([[-3.545065  ,  0.33522286,  0.94729613,  0.5295576 ],
       [-3.61170295,  0.26991367,  0.95292775,  0.17896204],
       [-3.19587159,  0.69261721,  0.66145153,  0.69791785],
       [-3.61202363,  0.27849113,  0.96173027,  0.09196384],
       [-3.15532149,  0.91756308,  0.43320499,  0.59066743]])

In [34]:
data_used["PCA_Scores"]=result_skPCA@(pca.explained_variance_ratio_/np.sum(pca.explained_variance_ratio_)).T

In [35]:
sorted_data_used = data_used.sort_values("PCA_Scores",ascending=False)

In [36]:
sorted_data_used

,score scaled,Rank,institution,ar score,er score,fsr score,cpf score,ifr score,isr score,irn score,ger score,PCA_Scores,DT_Scores,New_PCA_Scores
229,40.3,230,Bauman Moscow State Technical University,27.2,50.2,100.0,1.4,37.3,41.2,8.6,16.5,2.586627,33.847699,-43.904040
197,44.1,198,Ulsan National Institute of Science and Techno...,11.8,7.4,79.8,99.9,38.3,12.0,31.7,14.9,2.087581,32.572803,-37.470270
230,40.2,231,Gadjah Mada University,49.1,55.1,62.3,1.6,39.2,2.0,28.8,36.2,2.076297,33.492050,-34.674416
234,39.5,235,Bandung Institute of Technology (ITB),43.7,54.3,62.2,2.3,66.6,3.1,21.5,41.6,2.049381,35.480753,-33.154600
149,50.8,150,Al-Farabi Kazakh National University,49.1,76.9,98.3,1.3,30.5,34.6,35.3,12.3,1.934412,41.758577,-32.474481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,74.8,51,The University of Queensland,86.6,75.6,20.2,90.8,100.0,100.0,94.6,41.8,-1.245577,78.874477,20.009898
56,71.6,57,Monash University,87.6,80.8,11.2,79.3,100.0,100.0,95.1,56.8,-1.309298,79.495816,23.545473
32,81.6,33,The University of Melbourne,98.6,94.9,17.9,95.0,93.1,99.8,97.6,91.1,-1.476646,88.301674,45.473738
44,78,45,The University of New South Wales (UNSW Sydney),89.0,91.1,16.8,97.6,100.0,99.8,98.2,93.0,-1.491488,87.662343,43.731150
40,79.6,41,The University of Sydney,96.2,91.7,15.6,92.1,99.3,100.0,97.3,90.8,-1.497281,87.784937,43.498743

In [37]:
sorted_data_used.iloc[0, sorted_data_used.columns.get_loc('institution')]

'Bauman Moscow State Technical University'

# Desicion Tree

In [38]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [39]:
X = data_used.iloc[:,3:11]
X = np.array(X)

In [40]:
y = np.array(data_used["Rank"])

In [41]:
# 创建决策树分类器对象
clf = DecisionTreeClassifier()

# 使用训练数据拟合分类器模型
clf.fit(X, y)

DecisionTreeClassifier()

In [42]:
# 获取特征重要性
feature_importance = clf.feature_importances_
importances = []
# 打印各个特征的重要性
for i, importance in enumerate(feature_importance):
    print(f"特征 {i+1}: {importance}")
    importances.append(importance)

特征 1: 0.1297071129707113
特征 2: 0.11297071129707113
特征 3: 0.1422594142259414
特征 4: 0.10460251046025106
特征 5: 0.11715481171548117
特征 6: 0.1589958158995816
特征 7: 0.08786610878661087
特征 8: 0.14644351464435146

In [43]:
data_used["DT_Scores"] = np.dot(data_used.iloc[:, 3:11], importances)

In [44]:
sorted_data_used = data_used.sort_values("DT_Scores",ascending=False)

In [45]:
sorted_data_used.head(10)

,score scaled,Rank,institution,ar score,er score,fsr score,cpf score,ifr score,isr score,irn score,ger score,PCA_Scores,DT_Scores,New_PCA_Scores
1,98.8,2,University of Cambridge,100.0,100.0,100.0,92.3,100.0,96.3,99.5,100.0,-1.138249,98.562343,53.255162
3,98.4,4,University of Oxford,100.0,100.0,100.0,90.0,98.8,98.4,99.9,100.0,-1.146881,98.550209,52.888159
0,100,1,Massachusetts Institute of Technology (MIT),100.0,100.0,100.0,100.0,100.0,90.0,96.1,100.0,-1.042934,98.067364,54.202350
6,97,7,Imperial College London,98.3,99.7,99.5,86.5,100.0,100.0,98.1,88.8,-1.092256,96.455230,47.780457
7,95,8,UCL,99.4,98.6,97.6,77.0,99.2,100.0,100.0,90.3,-1.113479,95.502510,46.011350
2,98.5,3,Stanford University,100.0,100.0,100.0,99.9,99.8,60.3,96.3,100.0,-0.821842,93.328870,50.985561
5,97,6,California Institute of Technology (Caltech),96.5,87.1,100.0,100.0,99.8,85.1,73.0,98.8,-0.466454,93.148117,47.559475
8,93.6,9,ETH Zurich - Swiss Federal Institute of Techno...,98.6,91.3,74.2,99.2,100.0,98.0,96.2,91.1,-1.194838,93.126360,48.177018
4,97.6,5,Harvard University,100.0,100.0,99.4,100.0,76.9,66.9,100.0,100.0,-0.791010,91.945607,50.722978
47,76.8,48,Institut Polytechnique de Paris,45.3,99.4,98.9,94.0,97.0,98.2,94.8,99.8,-0.727336,90.929289,39.156483

# PCA + Desicion Tree

In [46]:
Reduced_data = pd.DataFrame(result_skPCA,columns=["Component1","Component2","Component3","Component4"])

In [47]:
Reduced_data["Rank"]=data_used["Rank"]
Reduced_data["institution"]=data_used["institution"]

In [48]:
Reduced_data

,Component1,Component2,Component3,Component4,Rank,institution
0,-3.545065,0.335223,0.947296,0.529558,1,Massachusetts Institute of Technology (MIT)
1,-3.611703,0.269914,0.952928,0.178962,2,University of Cambridge
2,-3.195872,0.692617,0.661452,0.697918,3,Stanford University
3,-3.612024,0.278491,0.961730,0.091964,4,University of Oxford
4,-3.155321,0.917563,0.433205,0.590667,5,Harvard University
...,...,...,...,...,...,...
235,1.517053,-1.891744,-0.651609,-0.238126,236,"University of California, Irvine"
236,0.932681,-0.740615,0.313893,-0.359563,237,King Saud University
237,0.219451,-0.050766,-1.258658,0.033185,238,University of Cape Town
238,1.053592,-2.481569,-0.775106,0.176035,239,University of Ottawa
239,0.901840,-2.895630,-0.068494,0.584280,240,University of Sussex

In [49]:
X = Reduced_data.iloc[:,1:5]
X = np.array(X)

In [50]:
y = np.array(Reduced_data["Rank"])

In [51]:
# 创建决策树分类器对象
clf = DecisionTreeClassifier()

# 使用训练数据拟合分类器模型
clf.fit(X, y)

DecisionTreeClassifier()

In [52]:
# 获取特征重要性
feature_importance = clf.feature_importances_
importances = []
# 打印各个特征的重要性
for i, importance in enumerate(feature_importance):
    print(f"特征 {i+1}: {importance}")
    importances.append(importance)

特征 1: 0.24267782426778245
特征 2: 0.29288702928870297
特征 3: 0.297071129707113
特征 4: 0.1673640167364017

In [53]:
Reduced_data["PCA_DT_Scores"] = np.dot(Reduced_data.iloc[:, 1:5], importances)

In [54]:
sorted_data_used = Reduced_data.sort_values("PCA_DT_Scores",ascending=False)

In [55]:
sorted_data_used.head(10)

,Component1,Component2,Component3,Component4,Rank,institution,PCA_DT_Scores
234,2.962219,1.903945,1.612926,0.395439,235,Bandung Institute of Technology (ITB),40.382468
229,3.676622,1.976249,3.145043,0.297089,230,Bauman Moscow State Technical University,39.982715
239,0.901840,-2.895630,-0.068494,0.584280,240,University of Sussex,39.618170
230,3.030033,2.283582,1.158431,0.121036,231,Gadjah Mada University,39.590508
236,0.932681,-0.740615,0.313893,-0.359563,237,King Saud University,39.470661
237,0.219451,-0.050766,-1.258658,0.033185,238,University of Cape Town,39.461530
238,1.053592,-2.481569,-0.775106,0.176035,239,University of Ottawa,39.223055
233,1.411322,-1.101925,-1.063647,1.610592,234,Universitat Pompeu Fabra (Barcelona),39.062699
226,3.699992,-0.232135,1.480500,1.587016,227,Southern University of Science and Technology,38.840373
235,1.517053,-1.891744,-0.651609,-0.238126,236,"University of California, Irvine",38.777236

# 不标准化

In [56]:
result_skPCA = pca.fit_transform(data_used.iloc[:,3:])

In [63]:
pca.explained_variance_ratio_

array([0.37849374, 0.24204329, 0.1366727 , 0.09582923])

In [62]:
result_skPCA[:5]

array([[121.43939364,  18.70460062, -18.87300425,  20.7083771 ],
       [122.3234879 ,  16.88632568, -22.46817859,  12.65801286],
       [105.87839704,  30.84961466, -13.09486344,  30.47583271],
       [122.12888123,  17.01558717, -23.46782454,  10.24705838],
       [100.97760989,  41.12145667, -10.1128726 ,  27.78332226]])

In [58]:
data_used["New_PCA_Scores"]=result_skPCA@(pca.explained_variance_ratio_/np.sum(pca.explained_variance_ratio_)).T

In [59]:
sorted_data_used = data_used.sort_values("New_PCA_Scores",ascending=False)

In [60]:
sorted_data_used.head(10)

,score scaled,Rank,institution,ar score,er score,fsr score,cpf score,ifr score,isr score,irn score,ger score,PCA_Scores,DT_Scores,New_PCA_Scores
0,100,1,Massachusetts Institute of Technology (MIT),100.0,100.0,100.0,100.0,100.0,90.0,96.1,100.0,-1.042934,98.067364,58.492541
4,97.6,5,Harvard University,100.0,100.0,99.4,100.0,76.9,66.9,100.0,100.0,-0.791010,91.945607,57.972577
2,98.5,3,Stanford University,100.0,100.0,100.0,99.9,99.8,60.3,96.3,100.0,-0.821842,93.328870,57.057204
1,98.8,2,University of Cambridge,100.0,100.0,100.0,92.3,100.0,96.3,99.5,100.0,-1.138249,98.562343,56.888512
3,98.4,4,University of Oxford,100.0,100.0,100.0,90.0,98.8,98.4,99.9,100.0,-1.146881,98.550209,56.407837
16,89.2,17,Princeton University,99.9,98.9,72.6,100.0,26.0,62.2,78.5,100.0,-0.078005,79.396234,55.547507
26,82.7,27,"University of California, Berkeley (UCB)",100.0,100.0,23.9,99.9,93.3,57.7,96.7,99.1,-1.158695,81.231381,52.198237
10,92.7,11,National University of Singapore (NUS),99.5,94.1,79.8,91.8,100.0,73.5,89.9,99.6,-0.850821,90.377824,51.880144
5,97,6,California Institute of Technology (Caltech),96.5,87.1,100.0,100.0,99.8,85.1,73.0,98.8,-0.466454,93.148117,51.627307
19,87.2,20,Cornell University,98.3,91.4,62.2,99.3,63.9,55.3,90.0,99.5,-0.562153,81.069038,51.445239